:root {
  --lightgreen: #58ba47;
  --darkgreen: #173519;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}

body {
  margin: 0;
 
  font-family: "Malgun Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ul li {
  list-style: none;
}

.bg-img {
  background-image: url("images/Restore_Logo_Final trimmed.png");
  height: 175px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: white;
}

.menu-row {
  width: 30px;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 10px;
  width: 50%;
  padding: 0%;
}

/* Navbar links */
.navbar{
  padding: 2px;
  width: 100%;
  text-align: center;
  background-color: var(--darkgreen);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: .25rem;
  border: 1px solid white;
  background-color: var(--lightgreen);
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 1.5em;
  height: 1.5em;
}

.header-navbar #mainNavbar {
  background-color: var(--darkgreen);
}

.header-nav-list {
  width: 100%;
  justify-content: space-evenly;
}

.nav-link {
  color: var(--lightgreen);
  padding: 8px;
  margin: 2px;
  text-decoration: none;
  font-size: smaller;
  font-variant: petite-caps;
  font-weight: bold;
}

.nav-link:hover {
  color: white;
  border-radius: 10px;
  font-size: large;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-shrink: 0;
  margin-top: 20px;
  font-size: 11px;
}

footer .row {
  display: inline;
}

footer img {
  align-self: center;
}

footer ul li {
  list-style: none;
  text-align: center;
}

footer ul {
  padding-left: 3px;
  margin: 0;
}

#insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 30px; /* change this to change the size*/
}

#insta:hover {
  font-size: 40px;
}

.facebook {
  font-size: 30px;
}

.facebook:hover {
  font-size: 40px;
}

footer .developer,
#deannapi {
  color: var(--lightgreen);
}

.btn {
  white-space: pre-wrap;
}

/* CONTACT ME */
.contact {
  text-align: center;
}

.contact a {
  padding-left: 7px;
  color: green;
}

.contact a:hover {
  color: limegreen;
  /* background-color: black; */
}

.map {
  text-align: center;
  margin-left: 40px;
}

.google-map iframe {
  border: var(--darkgreen) 8px double;
  width: 90%;
}

.reviews {
  width: 80%;
  margin: auto;
}

.card-review {
  width: 100%;
}

.card-review img {
  width: 40%;
}

.card-review a {
  font-size: 32px;
  font-variant: small-caps;
}

/* HOME PAGE */
.home {
  text-align: center;
  height: 100%;
}

.home-title {
  border-bottom: var(--darkgreen) 10px double;
  border-top: var(--darkgreen) 10px double;
  /* padding-top: 25%; */
}

.no-bullets {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.indent {
  text-indent: 10px;
}

h1 {
  font-family: "Malgun Gothic";
  color: var(--lightgreen);
  font-variant: small-caps;
  font-weight: bold;
}

h4 h5 {
  font-family: "Malgun Gothic";
  color: var(--darkgreen);
}

h5 {
  font-variant: small-caps;
  font-weight: 600;
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: fill;
  display: block;
}

#moonglow_logo {
  width: 100%;
  height: auto;
}

#moonglow_card {
  height: 50%;
}

#aboutme {
  height: auto;
}

.card-body {
  width: 100%;
  text-align: center;
}

.card {
  border: var(--darkgreen) 2px solid;
  width: 30%;
  margin: 10px auto 10px auto;
  box-shadow:
    0 0 10px var(--lightgreen),
    0 0 12px var(--lightgreen);
}

.card-bodywork {
  width: 100%;
  border: var(--lightgreen) 2px solid;
  margin: auto;
  box-shadow:
    0 0 4px var(--lightgreen),
    0 0 4px var(--lightgreen);
}
.card-bodywork h4 {
  font-size: 14px;
  font-weight: 600;
}
.card-bodywork p {
  color: var(--lightgreen);
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

#shop-visit:hover {
  color: var(--lightgreen);
}

.home-carousel-img {
  width: 30%;
  border: var(--darkgreen) 3px double;
}

.benefits li {
  list-style: none;
}

.therapy ul li {
  font-size: small;
  list-style: none;
}

/* APPOINTMENTS */
.appt h2 {
  text-align: center;
  display: grid;
}

.row a:hover {
  color: var(--lightgreen);
}

.cancellation {
  text-align: center;
  margin: auto;
  width: 40%;
  background-color: #173519;
  color: whitesmoke;
  padding: 10px;
  border-radius: 35px;
}

#appt-modal a {
  color: white;
  font-size: 11px;
}

#appointment .modal-footer {
  align-self: center;
}

/* SESSION MENU */
h2 {
  color: var(--darkgreen);
  font-variant: small-caps;
}

.session-title {
  text-align: center;
}

.mbwk {
  border-bottom: var(--darkgreen) 10px double;
  border-top: var(--darkgreen) 10px double;
  text-align: center;
}

.mbwk h3 {
  color: var(--lightgreen);
  font-variant: small-caps;
}

.card-session {
  background-color: var(--darkgreen);
  color: var(--lightgreen);
  border: var(--lightgreen) 8px double;
}

.card-header {
  text-align: center;
  font-size: 28px;
}

.card-text {
  font-size: 14px;
}

/* PRODUCTS */
h5,
h4,
h6 {
  text-align: center;
}

.discode {
  color: var(--lightgreen);
}

.discode a:hover {
  color: var(--lightgreen);
}

.row {
  margin: 10px;
  align-content: center;
}

.product-box {
  width: 300px;
  text-align: center;
  border: var(--lightgreen) 2px double;
  margin: 5px auto 5px auto;
}

.product-title a {
  color: var(--darkgreen);
  text-decoration: underline;
}

.product-title a:hover {
  color: var(--lightgreen);
  text-decoration: underline;
  font-weight: bold;
  font-size: larger;
}

.product-box img {
  height: 200px;
  padding-bottom: 10px;
}

.product-box img:hover {
  height: 230px;
}

button {
  background-color: var(--darkgreen);
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
}

button:hover {
  background-color: var(--lightgreen);
  color: black;
}

.modal-body p {
  font-size: 12px;
  list-style-position: inside;
}

.modal-body ul li {
  text-align: left;
  font-size: 11px;
  font-family: "Malgun Gothic";
}

.modal-footer button {
  background-color: var(--darkgreen);
  color: white;
}

.modal-footer button:hover {
  background-color: var(--lightgreen);
  color: black;
}

.modal-title {
  text-align: center;
  font-weight: 700;
}

#myBtnContainer button {
  margin: 10px;
}

.container {
  overflow: hidden;
}

.show {
  display: block;
}

/* ZERO TOLERANCE */
.zt_header {
  color: white;
  background-color: var(--darkgreen);
}

#zerotolerance_card {
  height: 50%;
}

#zerotolerance_img {
  height: auto;
  width: 80%;
  align-self: center;
}

#zerotolerance,
ul li {
  width: 100%;
  text-align: left;
  padding: 8px;
}

/* Main list spacing */
.zt-list {
  margin: 0;
  padding-left: 1.25rem;
}

.zt-list > li {
  list-style: none;
}

.zt-firstitem h2 {
  font-weight: bold;
  font-size: 12px;
  font-variant: normal;
}

.zt-firstitem-sessions h2 {
  color: var(--lightgreen);
  font-weight: bold;
  font-size: 12px;
  font-variant: normal;
  text-align: left;
}

/* Nested sub-bullets are indented */
.zt-sublist {
  padding-left: 1.5rem; /* <- controls indent */
  list-style-type: none;
}

.zt-sublist > li {
  margin-bottom: 0;
}

/* Optional: footer paragraph spacing */
.zt-footer {
  margin-top: 1rem;
  margin-bottom: 0;
  font-style: italic;
}

/* BLOG */
.blog {
  text-align: center;
  background-color: var(--darkgreen);
}

.blog .card-title {
  color: var(--lightgreen);
}

/*MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* Bootstrap lg breakpoint and smaller */
@media screen and (max-width: 991.98px) {
  .header-navbar.navbar {
    position: relative;
    background-color: var(--darkgreen);
    min-height: 56px;
    padding-left: 0;
    padding-right: 0;
  }

  .header-navbar.navbar .navbar-toggler {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }

  .header-navbar.navbar .navbar-collapse {
    width: 100%;
    margin-top: 56px;
    background-color: var(--darkgreen);
    text-align: center;
  }

  .header-navbar.navbar .navbar-nav {
    align-items: center;
  }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .row {
    display: inline-block;
  }

  .product-box {
    display: inline-block;
  }
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .row {
    text-align: center;
  }

  .card {
    width: 90%;
  }

.navbar button{
    background-color: var(--darkgreen);
  }

  .product-box {
    width: 70%;
    display: inline-block;
    font-size: 11px;
    margin: inherit;
  }

  .product-box img {
    height: 125px;
  }

  .btn {
    font-size: 11px;
  }

  .bg-img {
    height: 94px;
    margin: 5px;
    padding: 5px;
  }

  .cancellation {
    width: 80%;
  }

  footer ul li {
    text-align: center;
  }
}
