:root {
  --lightgreen: #58ba47;
  --darkgreen: #173519;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  align-items: baseline;
  padding-bottom: 10px;
  /* border-bottom: var(--lightgreen) 2px solid; */
}

header .row {
  display: inline-block;
}

nav ul li {
  list-style: none;
}

.dropright {
  padding-left: 15px;
}

#dropdownMenuButton {
  background-color: var(--darkgreen);
  font-family: "Malgun Gothic";
  /* font-variant: small-caps; */
  text-transform: uppercase;
}

#dropdownMenuButton:hover {
  background-color: var(--lightgreen);
  color: var(--darkgreen);
}

.dropdown-menu {
  border:  var(--lightgreen) 1px solid;
}

.dropdown-menu ul li a {
  color: var(--darkgreen);
  font-variant: small-caps;
}

.dropdown-menu ul {
  padding-left: 10px;
}

.dropdown-menu ul li a:hover {
  color: var(--darkgreen);
}

.dropdown-menu ul li:hover {
  background-color:  var(--lightgreen);
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: white;
  flex-shrink: 0;
}

footer .row{
  display: inline-flex;
}

footer img {
  align-self: center;
}

footer ul li {
  list-style: none;
}

footer ul {
  padding-left: 3px;
  margin: 0;
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 30px; /* change this to change the size*/
  
}

#insta:hover {
  font-size: 40px;
}

.facebook {
  font-size: 30px;
}

.facebook:hover {
  font-size: 40px;
}

/* CONTACT ME */
.contact {
  text-align: center;
}

.contact a {
  padding-left: 7px;
  color: green;
}

.contact a:hover {
  color: limegreen;
  /* background-color: black; */
}

.contact h3 {
  font-family: "Malgun Gothic";
}

.map {
  text-align: center;
  margin-left: 40px;
}

/* HOME PAGE */
.home {
  text-align: center;
  height: 100%;
}

.home-title {
  border-bottom: var(--darkgreen) 10px double;
  border-top: var(--darkgreen) 10px double;
}

h1 {
  font-family: "Malgun Gothic";
  color: var(--lightgreen);
  font-variant: small-caps;
}

h4 h5 {
  font-family: "Trebuchet MS";
  color: var(--darkgreen);
}

h5 {
  font-variant: small-caps;
}

.card-img-top {
  width: 100%;
}

.card-body {
  width: 100%;
  text-align: center;
}

.card {
  border: var(--darkgreen) 2px solid;
  width: 30%;
  margin: 10px auto 10px auto;
}

#shop-visit:hover {
  color: var(--lightgreen);
}

/*MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .row {
    display: inline-block;
  }

  .card {
    width: 90%;
  }
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}